@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

/*basic*/

:root {
  --main-bg-color: #C6B4CE;
  --second-bg-color: #9963ac;
  --text-light-color: #FFF5DE;
  --text-dark-color: #3C5186;
}

* {
  box-sizing: border-box;
  
}

a {
  color: var(--text-dark-color);
  font-weight: 600;
  text-decoration: none;
}

a:hover{
  color: var(--second-bg-color);
}

html{
  font-size: 1em;
}

body {
  background-color: var(--main-bg-color);
  overflow-x: hidden;
  font-weight: 500;
  color: var(--text-dark-color);

}

p{
  font-family: 'Hind Siliguri', sans-serif;
  color: var(--text-dark-color);
}

h1, h2, h3 {
  font-family: 'Bad Script', cursive;
  font-weight: bolder;
  margin: 2% 0;
  text-shadow: 0.2px 0.2px 0.5px black;
}

h1, h2 {
  font-size: 2rem;
}

h3{
  font-size: 1.2rem;
}

ul {
  list-style: none;
  padding-left: 0;
}

.not-bold{
  font-weight: 500;
}

.anchor {
  display: block;
  height: 220px;
  margin-top: -220px;
  visibility: hidden;
}

/*header*/

.bi-list {
  font-size: 2rem;
  color: var(--text-dark-color);
  text-shadow: 1px 1px 2px black;
}

#header{
  background-color: var(--main-bg-color);
  border-radius: 0 0 5px 5px;
}

.logo{
  width: 50px;
  box-shadow: none;
}

.logo-txt, .nav-link {
  color: var(--text-dark-color);
  font-family: 'Bad Script', cursive;
  font-weight: bolder;
  text-shadow: 0.2px 0.2px 0.5px black;
}

.nav-link:hover {
  color: var(--second-bg-color);
}

/*about-aymassage section*/

.about-txt{
  font-size: 0.9rem;
  padding: 0 22%;
  text-align: center;
}

.about-title{
  font-size: 2.5rem;
  padding: 0 25%;
  text-align: center;
}

.big-title {
  color: var(--text-light-color);
  font-size: 3rem; 
  line-height: 4rem;
  margin-bottom: 30%;
  font-weight: 500;
}

h2.big-title{
  color: var(--main-bg-color);
}

.intro {
  background-image: url(images/mandala-background.webp);
  background-repeat: no-repeat;
  background-size:cover;
  background-position-x: 25%;
  background-position-y: 60%;
  box-shadow: 1px 1px 2px #000;
  width: 95vw;
  height: 90vh;
  margin: auto;
  border-radius: 20px;
  display: flex;
  justify-content: flex-end;
  padding: 1%;
  margin-bottom: 2%;
}

.intro-txt {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content:center;
  margin-right: 10%;
}

.presentation {
  position: relative;
  width: 100vw;
  height:fit-content;
  margin-top: 10%;
  overflow: hidden;
  margin-bottom: 5%;
}

.presentation-2{
  position: relative;
  margin: 0 2%;
  text-align: center;
}

.presentation-2-txt{
  position: relative;
  z-index: 2;
}

.presentation-2 h2{
  margin: 0 0 4% 0;
}

#up-btn{
  border-radius: 50%;
  text-shadow: 1px 1px 2px black;
  color:var(--text-dark-color);
  font-size: 2rem;;
  display: none;
  position: fixed;
  bottom:15px;
  right:15px;
  z-index: 10;
}


/*about-aymassage section-images*/

img{  
  border-radius: 10px;
  box-shadow: 1px 1px 2px #000;
}

.about-img{
  width:30%
}

.about-img-lg{
  width: 40%;
}

.img-1{
  position: relative;
  left: 53%;
}

.img-2{
  position: absolute;
  left: 76%;
  top: 8%;
}

.img-3{
  position: absolute;
  bottom: 15%;
  right: 80%;
  z-index:2;
}

.img-4{
  position: relative;
  right: 2%;
  top: 30px
}

.presentation-2-txt-bg-img{
  position: absolute;
  left: 0;
  top: 25%;
  width: 100%;
  height: auto;
  opacity: 0.15;
  box-shadow: unset;
}

.between-section-img{
  display: block;
  border-radius: 0 50%;
  margin: 1% auto;
  width: 95vw;
}

/*prices section*/

.card{
  background-color: var(--main-bg-color);
  border: none;
  border-radius: 50% 10px 10px 10px;
  overflow: hidden;
  box-shadow: 1px 1px 2px black;
}

.card-body{
  background-image: url('images/background-color.webp');
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--text-light-color);
}

.card-text{
  color: var(--text-light-color);
  font-weight: 300;
  height: 130px;
}

/*price section-images*/

.card-img-top{
 border-radius: unset;
 height: 200px;
 border-radius: 50% 0 0;
 object-fit: cover;
 box-shadow: none;
}

/*workshops section*/

#workshops {
  position: relative;
}
#workshops:before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.05;
  background-image: url('images/tree-violet.webp');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

/*about-me section*/

#about-me, #contact, #prices{
  margin: 4% 3%;
  text-align: center;
}

#about-me{
  position: relative;
  width: 95vw;
  height:fit-content;
  overflow: hidden;
}

.about-me-txt {
  position: relative;
  overflow: hidden;
  z-index: 2;
}


/*about-me section-imgages*/

.about-me-txt-background{
  position: absolute;
  left: -10%;
  top: 30%;
  width: 120%;
  height: auto;
  opacity: 0.15;
  box-shadow: unset;
}

.small-img {
  width: 8%;
  border-radius: 50%;
}

.marlene-haidopoulo{
  border-radius: 50%;
  width: 30%;
}

/*footer*/

footer{
  background-image: url('images/background-color.webp');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 4%;
  padding: 1%;
  box-shadow: 1px 1px 2px black;
}

.af-link {
  color: var(--text-light-color);
}

.af-link:hover {
  color: var(--main-bg-color);
}

.copyright {
  color: var(--text-light-color);
  font-size: 0.9rem;
  text-align: center;
  margin: 2% 0 0 0;
  padding: 1%;
}

.mentions-legales {
  color: var(--text-light-color);
  font-size: 0.9rem;
  text-align: center;
}

.socials{
  display: flex;
  justify-content: center;
}

.socials>.social-link{
  color: var(--text-light-color);
  margin: 2%;
  padding:1%;
}

.social-link:hover {
  color: var(--main-bg-color);
}

/*ml-section*/

  .ml-section {
    text-align: center;
    margin: 5%;
  }

/*media queries*/

@media screen and (min-width: 400px) {
  
  /* bg-img position */

  .presentation-2-txt-bg-img{
    top: 20%;
  }

}

@media screen and (min-width: 453px) {

  /* bg-imgs position & margin set*/
  
  .presentation-2-txt-bg-img{
    top: 8%;
  }

  .about-me-txt-background{
    width: 100%;
    left: 0;
  }

  .presentation-2, .about-me-txt, #contact {
    margin: 4% 7%
  }
}

@media screen and (min-width: 574px) {

  /* about-aymassage imgs &  bg-imgs position set*/  

  .about-img {
    width: 25%;
  }

  .about-title{
    padding: 0 25%;
  }

  .about-txt{
    padding: 0 27%;
  }

  .presentation-2-txt-bg-img, .about-me-txt-background{
    width: 80%;
    left: 10%;
  }

  /* set some imgs width */

  .marlene-haidopoulo{
    width: 25%;
  }

  .between-section-img{
    width: 80vw;
    height: fit-content;
    object-fit: cover;
    border-radius: 0 60%;
  }
}

@media screen and (min-width: 670px) {

  /* new font-sizes set*/
  
  body{
    font-size: 1.1rem;
  }
  
  h1, h2 {
    font-size: 2.2rem;
 }

  .big-title {
    font-size: 4rem;
    line-height: 5rem;
    margin-bottom: 25%;
  }

  .about-title{
    font-size: 2.8rem;
  }

  .about-txt{
    font-size: 1.2rem;
  } 

  .card-text{
    font-size: 1rem;
  }
    
  .socials>.bi {
    font-size: 2rem;
  }

  .copyright {
    font-size: 1rem;
  }

  /* bg-img position & img width set*/

  .presentation-2-txt-bg-img, .about-me-txt-background {
    width: 70%;
    left: 15%;
  }

  .about-me-txt-background{
    top: 35%;
  }
  
  .presentation-2-txt-bg-img{
    top: 18%
  }

  .small-img{
    width: 6%;
  }

  .marlene-haidopoulo{
    width: 20%;
  }

  .between-section-img{
    width: 50vw;
    height: fit-content;
  }

  /*margin set*/

  .presentation-2, .about-me-txt, #contact{
    margin: 3% 10%;
  }

  .socials>.social-link{
    margin: 0 2%;
  }

}

@media screen and (min-width: 768px) {

  body{
    font-size: 1.5rem;
  }
  
  h1, h2 {
    font-size: 2.5rem;
  }
  
  /*navbar*/

  .logo{
    width: 70px;
  }
  
  .logo-txt, .nav-link {
    font-size: 1.5rem;
  }
  
  .bi-list {
    font-size: 3rem;
  }
  
  /*about-aymasage*/

  .anchor{
    height: 250px;
    margin-top: -250px;
  }

  .big-title {
    font-size: 5rem;
    line-height: 6rem;
    margin-bottom: 20%;
  }

  #up-btn {
    font-size: 2.5rem;
  }

  .about-me-txt > h3 {
   font-size: 2rem;
  }

  #about-me, #contact, #prices {
   margin-top: 4%;
  }

  .about-title {
    font-size: 2.8rem;
    padding: 0 30%;
  }

  .about-txt{
    font-size: 1.2rem;
  } 

  .between-section-img {
    width: 50vw;
    height: fit-content;
  }

  /*presentation-div new img dispaly*/
 
  .presentation {
    margin-top: 3%;
    margin-bottom: 0;
  }

  .about-img{
    width:20%
  }

  .about-img-lg{
    width: 35%;
  }

  .img-1{
    position: relative;
    left: 45%;
  }P

  .img-2{
    position: absolute;
    left: 75%;
    top: 16%;
  }

  .img-3{
    position: absolute;
    bottom: 25%;
    right: 76%;
  }

  .img-4{
    position: relative;
    right: -15%;
    top: 20px
  }
}

@media screen and (min-width: 992px) {

  /*unset anchor due to expand navbar*/

  .anchor{
    height: 0;
    margin-top: 0;
  }
  
  /*navbar*/

  .nav-link {
    font-size: 1.2rem;
  }

  /*bg-imgs, imgs width and margin set*/

  .presentation-2-txt-bg-img, .about-me-txt-background {
    width: 60%;
    left: 20%;
  }

  .about-me-txt-background {
    top: 32%;
  }

  .presentation-2, .about-me-txt, #contact{
    margin: 3% 15%;
  }

  .small-img{
    width: 5%;
  }
  
}


@media screen and (min-width: 1200px) {
  


  /*bg-imgs, imgs width and margin set*/

  .presentation-2, .about-me-txt, #contact{
    padding: 0 5%;
  }
  
  .between-section-img {
    width: 35vw;
    border-radius: 0 50%;
  }

  .marlene-haidopoulo{
    width: 15%;
  }

  .presentation-2-txt-bg-img, .about-me-txt-background {
    width: 50%;
    left: 25%;
  }

  /*presentation-div & new img dispaly*/
 
  .about-title{
    padding: 0 35%;
  }

  .about-txt{
    padding: 0 30%;
  }

  .about-img{
    width: 15%;
  }

  .about-img-lg{
    width: 25%;
  }

  .img-1{
    position: relative;
    left: 55%;
  }

  /*footer -bg higher definition*/

  footer {
    background-image: url('images/background-color-lg.webp');
  }
}

@media screen and (min-width: 1400px) {

   /*navbar*/

 .nav-link {
  font-size: 1.5rem;
  }

  /*bg-imgs and margin set*/

  .presentation-2-txt-bg-img, .about-me-txt-background {
    width: 40%;
    left: 30%;
  }

  .presentation-2, .about-me-txt, #contact{
    margin: 0 15%;
    padding: 0 10%;
  }

   /*footer*/

   footer{
    padding: 0.5rem;
  }

  .copyright{
    margin: 1% 0 0 0;
    padding: 1%;
  }
}

@media screen and (min-width: 1640px) {

  /*presentation-div & new img dispaly*/

  .about-img{
    width:12%;
    }
  
    .about-img-lg{
    width: 20%;
    }
  
    .img-1{
    position: relative;
    left: 59%;
    }

    .about-title {
      font-size: 3.2rem;
      padding: 0 30%;
    }
  
    .about-txt{
      font-size: 1.3rem;
    } 

    /*bg-img*/

    .about-me-txt-background{
      width: 33%;
      left: 33%;
    }
}

@media (orientation: landscape) {

  .intro {
    min-height: 616px;
  }

}

@media screen and (max-width: 330px) {
  
  .img-3{
    bottom: 12%;
  }
}

