@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

:root {
  --main-bg-color: #C6B4CE;
  --second-bg-color: #9B72AA;
  --text-light-color: #FFF5DE;
  --text-dark-color: #3C5186;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--text-dark-color);
  font-weight: 600;
  text-decoration: none;
}

a:hover{
  color: var(--text-light-color);
}

html{
  font-size: 1em;
}

body {
  background-color: var(--main-bg-color);
  min-width: 290px; 
  position: relative;
  color: var(--text-dark-color);
}

p{
  font-family: 'Hind Siliguri', sans-serif;
  color: var(--text-dark-color);
}

ul {
  list-style: none;
  padding-left: 0;
}

.not-bold{
  font-weight: 300;
}

/*header*/


.logo{
  width: 50px;
  border-radius: 50%;  
}

.logo-txt, .nav-link {
  color: var(--text-dark-color);
  font-family: 'Bad Script', cursive;
  font-weight: bolder;
}


.navbar-toggler-icon {
  color: var(--text-dark-color);
}

#header{
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--main-bg-color);
  background-color: transparent;
  border-radius: 0 0 10px 10px;
}

/*about-aymassage section*/

.intro {
  background-image: url(images/mandala-bg.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position-x: 25%;
  background-position-y: 60%;
  box-shadow: 2px 2px 4px #000;
  width: 95vw;
  height: 91.5vh;
  margin: auto;
  border-radius: 20px;
  display: flex;
  justify-content: flex-end;
  padding: 1%;
  margin-bottom: 2%;
}

.intro-txt {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content:center;
  margin-right: 10%;
}

.big-title {
  color: var(--text-light-color);
  font-size: 3rem; 
  line-height: 4rem;
  margin-bottom: 30%;
  font-weight:500;
}

h2.big-title{
  color: var(--main-bg-color);
}

h1, h2, h3 {
  font-family: 'Bad Script', cursive;
  font-weight: bolder;
  font-size: 2rem;
  margin: 2% 0;
}

h3{
  font-size: 1.2rem;
}

.presentation {
  position: relative;
  width: 100vw;
  height:fit-content;
  margin-top: 10%;
  overflow: hidden;
  margin-bottom: 5%;
}

.presentation-2{
  overflow: hidden;
  position: relative;
  margin: 0 2%;
  text-align: center;
}
.presentation-2-txt{
  font-weight: 500;
  position: relative;
  z-index: 2;
}
.presentation-2 h2{
  margin: 0 0 5% 0;
}

.about-txt{
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0 22%;
  text-align: center;
}
.about-title{
  font-size: 2.5rem;
  padding: 0 20%;
  text-align: center;
}
/*about-aymassage section-images*/

img{  
  border-radius: 10px;
  box-shadow: 1px 1px 2px #000;
}
.about-img{
  width:30%
}
.about-img-lg{
  width: 40%;
}

.img-1{
  position: relative;
  left: 53%;
}
.img-2{
  position: absolute;
  left: 76%;
  top: 8%;
}
.img-3{
  position: absolute;
  bottom: 15%;
  right: 80%;
  z-index:2;
}
.img-4{
  position: relative;
  right: 2%;
  top: 30px
}

.presentation-2-txt-bg-img{
  position: absolute;
  left: 0;
  top: 25%;
  width: 100%;
  height: auto;
  opacity: 0.13;
  box-shadow: unset;
}

.between-section-img{
  border-radius: 0 50%;
  margin: 7% 2%;
  width: 95vw;
}

/*prices section*/

#prices{
  /*
  background-image: url('images/mandala-bg.jpg');
  background-position-x: 60%;
  background-repeat: no-repeat;
  background-size: cover;
  */
  background-color: var(--second-bg-color);
  box-shadow: 2px 2px 4px black;
  padding: 3%;
  border-radius: 20px;
}

.prices-title{
  /*color: var(--text-light-color);*/
}

.card{
  background-color: var(--main-bg-color);
  border: none;
  border-radius: 50% 10px 10px 10px;
  overflow: hidden;
}
.card-body{
  background-color: var(--main-bg-color);
}
.card-text{
  font-weight: 300;
  height: 100px;
}

/*price section-images*/

.card-img-top{
 border-radius: unset;
 height: 200px;
 border-radius: 50% 0 0;
 object-fit: cover;
 box-shadow: none;
}

/*about-me section*/

#about-me, #contact{
  margin: 5% 3%;
  text-align: center;
}

/*about-me section-imgages*/

.marlene-haidopoulo{
  border-radius: 50%;
  width: 30%;
}

/*footer*/

footer{
  background:var(--second-bg-color);
  margin: 0;
  padding: 1%;
  box-shadow: 2px 2px 4px black;
}

.socials{
  display: flex;
  justify-content: center;
}

.socials>.social-link{
  margin: 2%;
  padding:1%;
}

.copyright{
  font-size: 0.9rem;
  text-align: center;
  margin: 2%;
  padding: 1%;
}

@media screen and (min-width: 768px) {
  
  .big-title {
    font-size: 5rem;
    line-height: 6rem;
    margin-bottom: 20%;
  }

}


